.nav-bar__logo {
    display: block;
    width: 100%;
    max-width: 115px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    text-indent: -9990px;
    z-index: 200;
    float: left;
    position: relative;
    transition: all .25s cubic-bezier(.19,1,.22,1);
    margin-left: 10px;
}

.nav__list li {
    display: inline-block;
    width: auto;
}

.nav__list li a {
    color: #1b1c20;
    transition: all .25s cubic-bezier(.19,1,.22,1);
    text-decoration: none;
    height: 90px;
    padding: 1rem 2rem;
    display: block;
    line-height: 50px;
    font-family: Oswald,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.nav__list li a:hover {
    background: #1b1c20;
    color: #fff;
    text-decoration: underline;
}

.menu
{
    display: inline-block;
    background-color: white;
    width: 100%;
    height : 90px;
    position: fixed;
    z-index: 100;
}

#menu-primary-menu
{
    text-align: center;
}

#content
{
    padding-top : 90px;
}
