.table_header
{
    padding-bottom: 0.5cm;
    font-family: "Comic Sans MS", "Comic Sans MS", sans-serif;
    font-size: large;
}

.font-text
{
    font-family: "Comic Sans MS", "Comic Sans MS", sans-serif;
}

.search-box
{
    background-color: #464646;
    border-color: #404040;
    color: white;
}

.small-padding-bottom
{
    padding-top: 0.2em;
    padding-bottom: 0.6em;
}

.leaderBoard_background_image
{
    background-image: url("grass.jpg");
}

.scrollable
{
    overflow-y: auto;
    overflow-x:hidden;
    height: 480px;
}

.color-gradient
{
    background: linear-gradient(#414141, #3B3B3B);
}

.scrollbar-background::-webkit-scrollbar
{
    width: 10px;
}

.scrollbar-thumb::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #AAAAAA;
}

.scrollbar-track::-webkit-scrollbar-track
{
    border-radius: 10px;
}

.scrollbar-track-piece::-webkit-scrollbar-track-piece
{
    border-radius: 10px;
    background-color: #666666;
}

.link
{
    color: white;
}

.link:hover
{
    color: #AAAAAA;
}

.hline-leaderboard
{
    width:100%;
    height:1px;
    background: #454545
}

.btn-div
{
    text-align: center;
    padding-bottom: 1em;
}

.btn-style
{
    background-color: #414141;
    border-color: #484848;
}

.btn-style:disabled
{
    color: #808080;
}

.btn-style:enabled
{
    color: white;
}

.btn-style:hover
{
    background-color: #515151;
}