.custom-line
{
    padding-bottom: 0.5cm;
}

.data-window
{
    overflow-x: hidden;
    overflow-y: auto;
    height: 500px;
}

.scrollbar-background::-webkit-scrollbar
{
    width: 10px;
}

.scrollbar-thumb::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #AAAAAA;
}

.scrollbar-track::-webkit-scrollbar-track
{
    border-radius: 10px;
}

.scrollbar-track-piece::-webkit-scrollbar-track-piece
{
    border-radius: 10px;
    background-color: #666666;
}