
img {
    vertical-align: middle;
    max-width: 100%;
}

body {
    margin: 0;
}

*, :after, :before {
    box-sizing: inherit;
    outline: 0;
}

.highlight {
    position: relative;
}

.page-content {
    position: relative;
    z-index: 1;
}

@media (min-width: 992px)
.highlight__container {
    /* min-height: 550px; */
}

.highlight__container--no-image {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.highlight__container {
    z-index: 99;
    padding: 6rem 15px;

}

.highlight__content {
    position: relative;
    text-align: center;
    color: #fff;
    z-index: 98;
}

.separator {
    position: relative;
    height: 0;
    margin: 0;
    padding: 0;
    z-index: 99;
}

.separator__image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

.highlight__background__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}


.btn-7b {
    overflow: hidden;
}

.btn-7 {
    background: #17aa56;
    color: #fff;
    border-radius: 7px;
    box-shadow: 0 5px #119e4d;
    padding: 25px 60px 25px 90px;
}

.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-4 {
    border-radius: 50px;
    border: 3px solid #fff;
    background: #2ecc71;
    overflow: hidden;
}

.btn-4:active {
    border-color: #17954c;
    color: #17954c;
}

.btn-4:hover {
    background: #24b662;
}

.btn-4b:before {
    left: -50%;
    top: 0;
}

.btn-4b:hover:before {
    left: 10%;
}

.background_home
{
    z-index: 1;
    background-image: url(http://web-vassets.ea.com/Assets/Resources/Image/Screenshots/SimCity%20Panoramic.png?cb=1412974395);
}

.highlight__background__overlay
{
    height: 100%;
    width: 100%;
    background-color:#000000;
    opacity:0.45;
}

#muteYouTubeVideoPlayer
{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: -99;
}

.black_background
{
    background-color: black;
}