img {
    vertical-align: middle;
    max-width: 100%;
}

body {
    margin: 0;
    background-image: url(https://data1.origin.com/content/dam/originx/web/app/games/simcity/simcity/simcity-complete-edition_pdp_3840x2160_en_WW.jpg);
}


.fleft
{
	float: left;
}

.fright
{
	float: right;
}

.top_titles
{
	text-align: center;
	width: 500px;
	font-size: 50;
}

#top_players
{
	overflow: hidden;
}

.value-list
{
	margin: 10px;
}

.value-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
	text-align: left;
	padding-left: 10px;
}

.value-list .description {
    color: #898787;
    font-size: 14px;
    line-height: 10px;
}

.value-list li {
    margin: 0;
    padding: 5px;
}

.value-list .value {
    color: #FFFFFF;
    font-size: 35px;
}

.small {
    font-size: 0.6em;
}

.buildings
{
	display: inline;
}

.widget-container
{
    outline: 1px solid #111;
    border-top: 1px solid #555;
    display: flex;
    flex-direction: column;
    background: #3B3B3B;
    color: #FFFFFF;
    position: relative;
    margin: 10px;
    width: 620px;
}

.center-widget
{
    width: 80%;
    left: 10%;
    padding-bottom: 15px;
}

.widget-content
{
    overflow: hidden;
}

.widget-header, .widget-footer {
    background: #2E2E2E;
    width: 100%;
    height: 30px;
    text-align: center;
    margin-bottom: 5px;
}

.info_block
{
    float: left;
    padding: 5px 15px 5px 15px;
    min-width: 150px;
}

.title_map
{
    color: #898787;
    font-size: 14px;
    line-height: 10px;
    text-align: center;
}

.map
{
    margin: 10px;
}

.time
{
    text-align: center;
}

.time_control
{
    background: #3B3B3B;
    border-radius: 10px
}

input[type="range"]:disabled {
    opacity: 0.2;
}

input[type="range"]
{
    margin-top: -20px;
    transform: scale(-1, 1);
    -webkit-appearance: none;
    width: 50%;
    margin-left: 25%;
}

/* sdnyco */

.play {
    position: relative;
    margin-left: 6px;
    border: 3px solid #fff;
    width: 36px;
    height: 36px;
    background-color: transparent;
    border-radius: 50%;
}

.play:before {
    position: absolute;
    left: 10px;
    top: 8px;
    content:'';
    border-left:  12px solid white;
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.pause {
    position: relative;
    margin-left: 6px;
    border: 3px solid #fff;
    width: 36px;
    height: 36px;
    background-color: transparent;
    border-radius: 50%;
}

.pause:before {
    width: 6px;
    height: 15px;
    background: #fff;
    position: absolute;
    content: "";
    top: 8px;
    left: 9px;
}

.pause:after {
    width: 6px;
    height: 15px;
    background: #fff;
    position: absolute;
    content: "";
    top: 8px;
    right: 9px;
}

.stop
{
    width: 36px;
    height: 36px;
    visibility: hidden;
}

/* OMG TOO MUCH CSS */

input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: rgba(256, 256, 256, 1);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1.5px 1.5px 1px #000000, 0px 0px 1.5px #0d0d0d;
    border: 0.4px solid #390000;
    height: 20px;
    width: 15px;
    border-radius: 0px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(256, 256, 256, 0.85);
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: rgba(256, 256, 256, 1);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1.5px 1.5px 1px #000000, 0px 0px 1.5px #0d0d0d;
    border: 0.4px solid #390000;
    height: 20px;
    width: 15px;
    border-radius: 0px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: rgba(0, 0, 0, 0.85);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: rgba(0, 0, 0, 0.85);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1.5px 1.5px 1px #000000, 0px 0px 1.5px #0d0d0d;
    border: 0.4px solid #390000;
    height: 20px;
    width: 15px;
    border-radius: 0px;
    background: #ffffff;
    cursor: pointer;
    height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
    background: rgba(0, 0, 0, 0.85);
}
input[type=range]:focus::-ms-fill-upper {
    background: rgba(0, 0, 0, 0.85);
}
